node_modules/
public/hot/
public/storage/
public/page-cache/
storage/*.key
storage/
mysql-dump/
meilisearch/
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
*.swp
.~*
_data/import-v3/TAPscan.sql
TAPscan.sql
*.zip

