#stuff:nth-of-type(odd) {
    background-color: #2a4d14;
    /* background-color: #004d00; */
}
#stuff:nth-of-type(even) {
    background-color: #317b22;
    /* background-color: #006600; */
}
/* .striped:nth-of-type(odd) {
    background-color: #0000AF;
} */

.jumbotron {
  padding-top: 1%;
  padding-bottom: 0%;
}

.dropdown-menu {
  min-width:300px;
  min-height:200px;
}
