
body{
    background: #004600; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#004600, black, #004600); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#004600, black, #004600); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#004600, black, #004600); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#004600, black, #004600); /* Standard syntax */
    background-attachment:fixed;
    margin-left: 15px;
    margin-right: 15px;
    height: 90%;
    color:#004600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.body{
    max-width: 970px;
    background-color: #EBFFDA;
    margin: 0 auto;
    min-height: 85%;
    box-shadow: 0px 20px 20px black;
    -moz-box-shadow: 0px 0px 20px black;
    -webkit-box-shadow: 0px 0px 20px black;
}

.top{
    position: relative;
    max-width: 970px;
    background-color: rgba(0,0,0,0);
    margin: 0 auto;
}

hr{
    margin-top: 15px;
    margin-bottom: 15px;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 3px;
    max-width: 100%;
    max-height: 150px;
}

#plogo{
    max-height: 30px;
}

#overlay_logo{
    position: absolute;
    bottom: -8px;
    right: 0px;
}





h1{
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-bottom: 10px; */
    color: #004600;
}

h2{
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-bottom: 10px; */
    color: #004600;
}



.numDiv{
    display: inline-block;
    color: #cdfecc;
    background-color: #006600;
    padding: 4px 25px 4px 25px;
}

a.tablelink:link{
   text-decoration: none;
}

a.tablelink:hover{
    text-decoration: underline;
}

.table {
    width: 100%;
    margin-bottom: 15px;
    color: #cdfecc;
    font-weight: 400;
}

.table th{
    text-align: center;
    padding: 6px;
}

.table td{
    text-align: center;
    padding: 6px;
}

.table tr:nth-child(even){background-color: #006600}
.table tr:nth-child(odd){background-color: #004d00}

.innertable {
    width: auto;
    margin-top: 5px;
    color: #cdfecc;
    font-weight: bold;
}

.innertable th{
    text-align: center;
    padding: 6px;
}

.innertable td{
    text-align: center;
    padding: 6px;
}

.innertable tr:nth-child(even){background-color: #395A39}
.innertable tr:nth-child(odd){background-color: #3B4A3B}

.colour-box {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  border: 1px solid rgba(0, 0, 0, .2);
  display: inline-block;
}

.orange-b {
  background: #fb9b00;
}

.yellow-b {
  background: #fefd98;
}

.green-b {
  background: #cdfecc;
}

.green-rule-b {
   background: #006600;
}

.red-b {
    background: #ff2654;
}

.red {
    color: #ff2654;
}

.green-rule {
    color: #006600;
}

.orange{
  color: #fb9b00;
}

.yellow{
  color: #fefd98;
}

.green {
  color: #cdfecc;
}

.orange-light{
  color: #e36c09;
}

.yellow-light{
  color: #ffc000;
}

.green-light{
  color: #00b050;
}

ul{
    list-style-position: inside;
    list-style-type:square;
}

a.awithout:link {
    text-decoration:none;
    color: inherit;
}

a.awithout:visited {
    text-decoration:none;
    color: inherit;
}

a.awithout:active {
    text-decoration:none;
    color: inherit;
}

a.awithout:hover {
    text-decoration:underline;
    color: inherit;
    background: rgba(0, 102, 0, 0.27);
}

a.awith:link {
    text-decoration:underline;
    color: inherit;
}

a.awith:visited {
    text-decoration:underline;
    color: inherit;
}

a.awith:active {
    text-decoration:underline;
    color: inherit;
}

a.awith:hover {
    text-decoration:underline;
    color: inherit;
    background: rgba(0, 102, 0, 0.27);
}

a.plazalink:link {
    text-decoration:underline;
    color: inherit;
}

a.plazalink:visited {
    text-decoration:underline;
    color: inherit;
}

a.plazalink:active {
    text-decoration:underline;
    color: inherit;
}

a.plazalink:hover {
    text-decoration:underline;
    color: inherit;
    background: rgba(0, 102, 0, 0.27);
}

.plazabox {
    float:right;
    border: 2px solid #875125b3;
    padding: 3px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

span.clickable{
     cursor:pointer;
}

span.clickable:hover {
    cursor:pointer;
    background: rgba(0, 102, 0, 0.27);
}


.isoTop:hover{
    background: rgba(0, 102, 0, 0.27);
    cursor: pointer;
}


hr{
    border-color: #004600;
}


p {
    text-align: justify;
}

.alignment{
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
}
